flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
local.properties
proguard/
.navigation/
captures/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
google-services.json
.externalNativeBuild
.dart_tool/
.packages
.pub/
build/
pubspec.lock
.DS_Store
.AppleDouble
.LSOverride
